
    $svgicon-armchair_width = 16
    $svgicon-armchair_height = 16

    $svgicon-arrow_width = 0.9841875
    $svgicon-arrow_height = 0.9841875

    $svgicon-ballerina_width = 6.72
    $svgicon-ballerina_height = 6.72

    $svgicon-cap_width = 16
    $svgicon-cap_height = 16

    $svgicon-chair_width = 16
    $svgicon-chair_height = 16

    $svgicon-coffee-cup_width = 15.999625
    $svgicon-coffee-cup_height = 15.999625

    $svgicon-dumbbell_width = 16.00003125
    $svgicon-dumbbell_height = 16.00003125

    $svgicon-factory_width = 16
    $svgicon-factory_height = 16

    $svgicon-logo-foldin_width = 31.25
    $svgicon-logo-foldin_height = 6.137160280418708

    $svgicon-luggage_width = 20
    $svgicon-luggage_height = 20

    $svgicon-microphone_width = 16.00003125
    $svgicon-microphone_height = 16.00003125

    $svgicon-mouse_width = 16
    $svgicon-mouse_height = 16

    $svgicon-place_width = 16
    $svgicon-place_height = 16

    $svgicon-rocking-horse_width = 14.18225
    $svgicon-rocking-horse_height = 14.18225

    $svgicon-russia_width = 16
    $svgicon-russia_height = 16

    $svgicon-sofa_width = 15.357625
    $svgicon-sofa_height = 15.357625

    $svgicon-statistics_width = 15.5
    $svgicon-statistics_height = 15.5

    $svgicon-team_width = 15.5
    $svgicon-team_height = 15.5

    $svgicon-team-people_width = 16
    $svgicon-team-people_height = 16

    $svgicon-tribune_width = 16.00003125
    $svgicon-tribune_height = 16.00003125

    $svgicon-up-arrow_width = 14.12021875
    $svgicon-up-arrow_height = 14.1201875

    $svgicon-vegan_width = 16
    $svgicon-vegan_height = 16
