
   .icon.icon-armchair {
         width: 16em;
         height: 16em;
     }

   .icon.icon-arrow {
         width: 0.9841875em;
         height: 0.9841875em;
     }

   .icon.icon-ballerina {
         width: 6.72em;
         height: 6.72em;
     }

   .icon.icon-cap {
         width: 16em;
         height: 16em;
     }

   .icon.icon-chair {
         width: 16em;
         height: 16em;
     }

   .icon.icon-coffee-cup {
         width: 15.999625em;
         height: 15.999625em;
     }

   .icon.icon-dumbbell {
         width: 16.00003125em;
         height: 16.00003125em;
     }

   .icon.icon-logo-foldin {
         width: 31.25em;
         height: 6.137160280418708em;
     }

   .icon.icon-luggage {
         width: 20em;
         height: 20em;
     }

   .icon.icon-microphone {
         width: 16.00003125em;
         height: 16.00003125em;
     }

   .icon.icon-mouse {
         width: 16em;
         height: 16em;
     }

   .icon.icon-rocking-horse {
         width: 14.18225em;
         height: 14.18225em;
     }

   .icon.icon-sofa {
         width: 15.357625em;
         height: 15.357625em;
     }

   .icon.icon-tribune {
         width: 16.00003125em;
         height: 16.00003125em;
     }
