.modalLogin {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: visibility 0s linear 0.1s, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 420px) {
  .modalLogin {
    overflow: auto;
  }
}

.modalLogin.open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modalLogin.open .modalLogin-inner {
  opacity: 1;
  transform: translate(-50%, -50%);
}

@media (max-width: 420px) {
  .modalLogin.open .modalLogin-inner {
    transform: translate(0%, 0%);
  }
}

.modalLogin.open .modalLogin-overlay {
  opacity: 1;
}

.modalLogin-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s linear;
}

.modalLogin-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  padding: 0;
}

.modalLogin-close--wrap-line {
  position: relative;
  height: 100%;
  width: 100%;
}

.modalLogin-close--wrap-line:before,
.modalLogin-close--wrap-line:after {
  content: '';
  border-radius: 1px;
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #000;
  top: 50%;
  left: 0;
  transform-origin: center;
}

@media (max-width: 420px) {
  .modalLogin-close--wrap-line:before,
  .modalLogin-close--wrap-line:after {
    background-color: #fff;
  }
}

.modalLogin-close--wrap-line:before {
  transform: translateY(-50%) rotate(45deg);
}

.modalLogin-close--wrap-line:after {
  transform: translateY(-50%) rotate(-45deg);
}

.modalLogin-inner {
  border-radius: 10px;
  background-color: #1c325b;
  box-shadow: 0 5px 8px -1px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 90%;
  width: 50%;
  transform: translate(-50%, -40%);
  transition: 0.2s ease-out;
  opacity: 0;
  display: flex;
}

@media (max-width: 420px) {
  .modalLogin-inner {
    border-radius: 0;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    transform: translate(0%, -10%);
  }
}

.modalLogin-inner>div {
  width: 50%;
}

@media (max-width: 420px) {
  .modalLogin-inner>div {
    width: 100%;
  }
}

.modalLogin-inner__content {
  background-color: transparent;
  padding: 5% 5%;
}

.modalLogin-inner__bg-img {
  background-image: url("/assets/lk/images/lk-form.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 420px) {
  .modalLogin-inner__bg-img {
    display: none;
  }
}

.tabs {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  margin-bottom: 12%;
  list-style: none;
}

.tabs__item {
  cursor: pointer;
  text-transform: uppercase;
}

.tabs__item.active {
  color: #c1904d;
}

.tabs--content {
  display: none;
}

.tabs--content.active {
  display: block;
}

.form-login {
  color: #fff;
}

.form-login--row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.work-design-wrap {
  display: flex;
  flex-flow: row wrap;
}

.work-design-wrap label {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0;
}

.work-design-wrap label:nth-child(n+3) {
  margin-top: 10px;
}

.work-design-wrap label:not(:last-of-type) {
  margin-right: 15px;
}

.login-input {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  padding: 10px 5%;
  width: 100%;
  box-shadow: 0 0 0 0;
  transition: box-shadow 0.15s ease-out;
  outline: none;
  color: #000;
}

.login-input:focus {
  box-shadow: 0 0 0px 2px #fb8c00;
}

.login-input--radio {
  display: none;
}

.login-input--radio:checked+.radio-btn:before {
  width: 6px;
}

.login-input--radio:checked+.radio-btn:after {
  width: 10px;
}

.radio-btn {
  position: relative;
  border-radius: 4px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: inline-block;
}

.radio-btn:before,
.radio-btn:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 50%;
  transition: width 100ms ease-out;
}

.radio-btn:before {
  height: 2px;
  width: 0;
  transform: translate(-85%, 31%) rotate(45deg);
}

.radio-btn:after {
  height: 2px;
  width: 0;
  transform: translate(-36%, -40%) rotate(-45deg);
}

.login-label {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 10px;
}

.small-text {
  color: #9e9e9e;
  line-height: 1.3;
  margin-top: 5px;
  font-size: 13px;
}