.footer
	padding 40px 0
	background-color #0b1a37
	&-wrap
		display flex
		justify-content space-between
	&-item
		width 22%
		h4
			color #fff
			margin 0
			text-transform uppercase
			font-weight 600
			font-size 14px
			margin-bottom 25px
		&-wrap
			display flex
			flex-direction column
	&-nav
		color gray
		font-size 14px
		text-decoration none
		&:not(:last-of-type)
			margin-bottom 10px
		svg
			height 15px
			width 15px
	&-down
		margin-top 40px
		color #c1904d
		font-size 18px
		display flex
		justify-content space-between
		align-items center
	&__social
		display flex
		align-items center
		&-item
			display inline-block
			height 25px
			width 25px
			color #c1904d
			&:not(:last-of-type)
				margin-right 25px