#use-area
	background-color primaryBlueColor
	.col
		height 100%
	h2
		color #fff
		width 50%
		margin 0
		font-weight 700
.area
	color #fff
	height 550px
	max-width 1280px
	background-image url(pathImg'/images/use-bg.png')
	background-repeat no-repeat
	background-size contain
	background-position left
	position relative
	&-item
		position absolute
		overflow hidden
		padding 12px
		display flex
		flex-direction column
		justify-content space-between
		font-size 16px
		font-weight 500
		color #fff
		text-decoration none
		&__wrap
			position absolute
			top 0
			left 0
			display inline-block
			width 100%
			height 100%
			opacity 0
			transition opacity .2s linear
			background-size cover
			background-position center
			background-repeat no-repeat
			&:after
				content ''
				position absolute
				top 0
				left 0
				height 100%
				width 100%
				background-color rgba(0, 0, 0, 0.3)
			&-icon
				position relative
				width 40px
				height 40px
				svg
					display inline-block
					width 100%
					height 100%
			&-text
				position relative
				line-height 1.2
				width 90%
		&.is-active .area-item__wrap
		&:hover .area-item__wrap
			opacity 1
		&-1
			top 29.5%
			left 10.8%
			height 35%
			width 21%
			.area-item__wrap
				background-image url(pathImg'/images/area/flats.jpg')	
		&-2
			top 67.8%
			left 5.6%
			height 22%
			width 12.5%
			.area-item__wrap
				background-image url(pathImg'/images/area/sport-1.jpg')
		&-3
			top 67.8%
			left 19.6%
			height 29%
			width 12.3%
			.area-item__wrap
				background-image url(pathImg'/images/area/school.jpg')
		&-4
			top 35.6%
			left 33.4%
			height 57.3%
			width 13.7%
			.area-item__wrap
				background-image url(pathImg'/images/area/office.jpg')	
		&-5
			top 10.2%
			left 46.8%
			height 21.9%
			width 18.6%
			.area-item__wrap
				background-image url(pathImg'/images/area/rest-1.jpg')
		&-6
			top 3%
			left 66.8%
			height 29.2%
			width 15.1%
			.area-item__wrap
				background-image url(pathImg'/images/area/hall.jpg')
		&-7
			top 35.5%
			left 48.6%
			height 28.9%
			width 19.9%
			.area-item__wrap
				background-image url(pathImg'/images/area/studio.jpg')
		&-8
			top 35.5%
			left 70%
			height 28.8%
			width 11.8%
			.area-item__wrap
				background-image url(pathImg'/images/area/kindergarden-1.jpg')	
		&-9
			top 67.8%
			left 48.6%
			height 28.9%
			width 15%
			.area-item__wrap
				background-image url(pathImg'/images/area/hotel.jpg')
		&-10
			top 67.8%
			left 65.1%
			height 21.8%
			width 18.6%
			.area-item__wrap
				background-image url(pathImg'/images/area/concert-1.jpg')